[db]
host = localhost
database = macreg
user = macreg
passwd = yourdbpassword

[network]
network = 192.168.0.0/24
addr_max = 192.168.0.250

[admins]
admins = admin1, admin1
emails = mail@admin1.com, mail@admin2.com

[email]
sender = automailer@yourdomain.com
subject = New MAC address registered
body = User {user_name} has requested to enable MAC address {mac_address} for {description}.

[smtp]
server = smtp.youremailprovider.com
port = 465
user = yoursmtpuser
passwd = yoursmtppasswd

[app]
secure = false
cookie = session
