[db]
host = localhost
database = macreg
user = macreg
passwd = yourdbpassword

[network]
network = 192.168.0.1/24

[admins]
admins = admin1, admin1
emails = mail@admin1.com, mail@admin2.com

[email]
sender = automailer@yourdomain.com
subject = New MAC address registered

[smtp]
server = smtp.youremailprovider.com
port = 465